@use '../abstract/' as *;

//styles on the index page
.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
    & h3 {
        max-width: 510px;
        margin-top: 0;
        margin-bottom: 50px;

        @include sm-xs {
            margin-bottom: 30px;
        }
    }

    &-img__container {
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 0 15px 30px;
        
        @include md-xs {
            flex-wrap: wrap;
            padding: 0 5px 30px;
            gap: 10px;
        }
    }

    &__img {
        width: 23.5%;
        height: 100%;

        @include md-xs {
            width: 46%;
        }
    }
    
    &__btn {
        width: 300px;

        @include sm-xs {
            width: 260px;
        }
    }
}

//styles on the team page

.ourteam {

    padding-top: 150px;
    margin-bottom: 50px;
    text-align: center;

    & h3 {
        font-weight: $fw-medium;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $color-accent;

    }

    &__container {
        @extend %container;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
        text-align: start;
        gap: 50px;        
    }

    &__item {
        max-width: 360px;

        & p {
            padding-top: 25px;
        }
    }

    &__img {
        width: 100%;
        min-height: 360px;
        margin-bottom: 10px;
        object-fit: cover;

        @include sm-xs {
            min-height: 250px;
        }
    }

    & figcaption {
        font-weight: $fw-bold;
        font-size: $fs-main;
        line-height: 1.2;

        & span {
            font-weight: $fw-light;
            font-size: $fs-small;
            position: relative;

            &::after {
                content: '';
                width: 60px;
                height: 3px;
                background-color: $color-accent;
                position: absolute;
                top: 35px;
                left: 0;
            }
        }
    }

    &__link {
        color: $color-accent;
        padding: 0;
    }
}

section.ourteam.friends {
    padding-top: 0;
}