$font-main: 'Ubuntu', sans-serif;
$font-text: 'Open Sans', sans-serif; 

$fw-bold: 700;
$fw-medium: 500;
$fw-reg: 400;
$fw-light: 300;

$fs-header1: 2.813rem;
$fs-header2: 2.625rem;
$fs-header3: 2rem;
$fs-menu: 1.875rem;
$fs-semilarge: 1.75rem;
$fs-main: 1.5rem;
$fs-semireg: 1.25rem;
$fs-reg: 1.125rem;
$fs-body: 1rem;
$fs-small: 0.875rem;

$xxl: 2561px;               
$ul: 1441px;
$xl: 1200px;
$lg: 1025px;
$md: 769px;
$sm: 577px;
$xs: 0;